
* {
    padding: 0;
    margin: 0;
}



ion-range {
    padding-top: 40px;

    --knob-background: green;
    --bar-background: red;
    --bar-background-active: yellow;
  
    --pin-background: #000000;
    --pin-color: #ff00ff;

}

